@if (loaderService.isLoading()) {
  <div
    class="flex bg-[rgba(255,255,255,0.5)] backdrop-blur-xs fixed inset-0 z-10000 flex-col items-center justify-center p-8 space-y-4"
  >
    <div class="relative flex items-center justify-center w-16 h-16">
      <!-- الحلقة المتقطعة اللي بتلف ببطء -->
      <div
        class="absolute inset-0 rounded-2xl border-2 border-dashed border-[#520B4D]/30 animate-[spin_4s_linear_infinite]"
      ></div>

      <!-- الحلقة المتصلة السريعة -->
      <div
        class="absolute inset-0 rounded-2xl border-2 border-[#520B4D] border-t-transparent animate-spin"
      ></div>

      <!-- اللوجو النابض في النص -->
      <div
        class="w-10 h-10 rounded-xl bg-[#520B4D] text-white flex items-center justify-center font-bold text-xl shadow-lg shadow-[#520B4D]/40 animate-pulse"
      >
        B
      </div>
    
    
    </div>



    <!-- نص التحميل -->
    <div class="flex flex-col items-center">
      <p class="text-sm font-bold text-[#520B4D] tracking-widest uppercase mb-1">Brand OS</p>
      <p class="text-xs font-medium text-gray-500 animate-pulse">Loading...</p>
    </div>
  </div>
}
